.main{
    grid-area: main;
    .titulo{
        @include titulo();
        font-size: 2.5rem;
        
    }
    .titulonoticia{
        @include titulo();
        font-size: 2.5rem;
    }
    .titulohome{
        @include titulo();
        font-size: 3rem;
    }
    .empresa{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding:1rem;
        color:$text;
        .texto{
            line-height: 1;
            padding: 0.5em;
            width: 50%;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;                      
        }
        .imagen{
            // width: 30%;
            // object-fit: cover;
            // object-position: center;
            margin:1rem;
            border-radius: 50%;
            padding: 5px;
            display: inline;
            width: 30%;
            height: 30%;
            //margin: 0 auto;
            object-fit: cover;
            text-align:center
        }
        }
    .quienes{
        margin: 0;
        padding: 0;
        width: 70%;
        max-width: 1000px;
        margin: 1rem auto;
        display: grid;
        gap: 1rem;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman',
    }
    .row{
        margin: 20px;        
        line-height: 1;
        padding: 0.5em;
        width: 90%; 
    }
    .accordion-body{
        list-style: none;
        text-decoration: none;
    }
    

}
